body {
  text-align: center;
  font-family: sans-serif;
  margin-top: 80px;
  margin-bottom: 60px;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background: #000000;
  color: rgb(255, 255, 255);
  cursor:pointer;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f0f0f0;
  color: #555;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}